body {
    margin: 70px;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: rgb(65, 46, 137);
    background: linear-gradient(90deg, #3f2c8e 0%, rgb(22, 105, 101) 51%, rgb(59, 20, 111) 100%);

}


.cohete {
    width: 300px;
    height: 400px;
}

.texto1 {
    font-size: 14px;
    color: white;

}

h1 {
    color: white;
}

.imgnave {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.btn-neon:hover {
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}

.btn-neon span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background-image: url(./img/marte3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}

.item{
    display: flex;
}

.item div{
    margin-right: 10px;
}

.container div{
    margin-bottom: 3%;
}

.caja{
    width: 100%;
}

.caja2{
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.caja2 img{
    object-fit: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}

.imgGaleria{
    width: 250px;
    height: 200px;
    margin-right: 0.3%;
}